@media screen and (max-width: 768px) {
    .ocultar {
        display: none;
    }
    li{
        list-style: none;
        display: none;
    }
    ul{
        display: flex;
        flex-direction: column;
    }
}