#root {
  
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.colorFuente{
  color: rgb(206, 146, 33);
}
.div{
  text-align: center;
}
.nav a:hover{
  color: black;
  text-decoration: none;
}
